@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: rgb(0, 183, 255);
}

body {
  font-family: "Montserrat", sans-serif;
  min-width: 100vw;
}

.container {
  margin: 2rem auto;
  text-align: center;
}

.heading {
  color: var(--primary-color);
}

.description {
  font-size: larger;
  margin: 1rem;
}

.input-label {
  margin-top: 1rem;
  display: block;
  font-size: large;
  font-weight: 600;
}

.input {
  font-size: 14px;
  outline: #fff;
  padding: 0.6rem 1rem;
  margin: 1rem auto 0rem;
  border: 2px solid var(--primary-color);
  border-radius: 0.5rem;
  width: 100%;
  max-width: 258px;
}

#check-btn,
#next-btn {
  background: var(--primary-color);
  border: none;
  color: #fff;
  padding: 0.7rem 1rem;
  border-radius: 0.5rem;
  font-size: large;
  cursor: pointer;
  outline: #fff;
  margin: 1rem auto;
  display: block;
}

#error-msg {
  background-color: var(--primary-color);
  font-size: larger;
  margin: 1rem 0 0;
  padding: 0.5rem 0rem;
}

.notes-table {
  width: 50%;
  text-align: justify;
  border-collapse: collapse;
  margin: auto;
}

.notes-table caption {
  margin: 1rem auto;
  font-size: x-large;
  font-weight: 500;
}

th,
td {
  border: 2px solid var(--primary-color);
  width: 0%;
  border-collapse: collapse;
  padding: 0.4rem;
}

footer {
  text-align: center;
  padding: auto;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}
